<!--自分のチャットメッセージ-->

<div class="right-message">
  <div class="chat-icon-my">
     <% if message.user.avater? %>
        <%= image_tag message.user.avater.thumb.url, class: "user-avater-post" %>
     <% else %>
        <%= image_tag asset_path("default.jpg"), :size => '70x70' %>
     <% end %>
   </div>
<div class="balloon-right">
   <strong>
     <%= message.message %>
   </strong>



</div>
</div>