<h1 class="user-draw-title">
  DISCHARGE
</h1>
<h2 class="user-draw-text">
  退会すると投稿内容はすべて削除され</br>
  アカウントを二度と戻せなくなります。
  </h2>
  <% if current_user.name == "ゲストユーザー" %>
  <h2>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　退会できません</h2>
  <% else %>
 <div class="user-draw">
  <i class="fas fa-door-open"></i>
  <%= link_to "退会する",user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか？" %>
 </div>
 <div class="user-undraw">
  <i class="fas fa-door-closed"></i>
  <%= link_to "退会しない", user_path(current_user) %>
 </div>
</div>
<% end %>