<div class="main-visual-about">
  
    <h1 class="about-text">
      ABOUT
    </h1>
    
    <h1 class="staff">
      <i class="fas fa-user-secret"></i>
      STAFF
    </h1>
    
    <div class="keninoue">
      <%= image_tag 'keninoue.jpg', class:'icon' %>
    </div>
    
    <h2 class="keninoue-text">
      代表挨拶</br>
      当サイトを閲覧頂きありがとうございます。
    </h2>
    
</div>