<div class="main-visual">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <div class="blog">
      <div class="blog-area1">
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike1.png"></div>
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike01.png"></div>
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike001.png"></div>
      </div>
      <div class="blog-area2">
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike2.jpg"></div>
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike02.jpg"></div>
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike002.jpg"></div>
      </div>
      <div class="blog-area3">
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike3.jpg"></div>
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike03.jpg"></div>
        <div class="blog-slide"><img class="blog-image1" src="/assets/bike003.jpg"></div>
      </div>




    </div>
    <div class="sidebar">
      <h1>aaaa</h1>
    </div>
</div>