<h1 class="post-new-title">
  EDIT BIKE
</h1>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% end %>
      </ul>
    </div>

<%= render 'posts/edit_post', post: @post %>