/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
*= require_self
*/
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 76px;
}

.header {
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  color: white;
  // フォント使用
  font-family: 'Lobster', cursive;
  // ヘッダー固定
  position: fixed;
  background-color: black;
}
/* ---- ハンバーガーアイコン ---- */

#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: white;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: white;
}
/* ------ spメニュー ------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: white;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
  font-size: 3ex;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#sp-menu h2 {
  font-family: 'Lobster', cursive;
}

footer {
  color: #fff;
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}
