/*
// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*= require_tree .
*= require_self
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// ホーム
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main-visual {
    width: 100%;
    height: 744px;
    display: flex;
  }

.blog {
    width: 30%;
    height: 744px;
  }

.blog-area1 {
    width: 100%;
    height: 248px;
  }

.blog-image1 {
    width: 100%;
    height: 248px;
    background-size: cover;
  }

.blog-area2 {
    width: 100%;
    height: 248px;
  }

.blog-area3 {
    width: 100%;
    height: 248px;
  }

.sidebar {
    width: 70%;
    height: 744px;
    position: relative;/*相対配置*/
  }

.blog-image2 {
    width: 100%;
    height: 744px;
    background-image: url(/assets/highway.jpg);
    background-size: cover;
    background-color: rgba( 0, 0, 0, 0.5);
  }

.sidebar-text {
    position: absolute;/*絶対配置*/
    top: 26%;
    right: 38%;
  }

.sidebar-main {
    position: absolute;
    top: 37%;
    right: 41%;
  }

.login {
    position: absolute;
    background: gray;
    padding: 0.5em;
    top: 450px;
    left: 20%;
    border-radius: 0.5em;
  }

.login a {
    color: white;
  }

.signup {
    position: absolute;
    background: gray;
    padding: 0.5em;
    top: 450px;
    right: 35%;
    border-radius: 0.5em;
  }

.signup a {
    color: white;
  }

.guest {
    position: absolute;
    background: gray;
    padding: 0.5em;
    top: 535px;
    right: 50%;
    border-radius: 0.5em;
  }

.guest a {
    color: white;
 }

//アバウト
.main-visual-about {
    width: 100%;
    height: 744px;
    display: flex;
    position: relative;
  }

.about-text {
    font-family: 'Lobster', cursive;
    top: 20px;
    right: 47%;
    position: absolute;
  }

.staff {
    top: 125px;
    left: 28%;
    position: absolute;
  }

.keninoue {
    top: 127px;
    left: 38%;
    position: absolute;
  }

.icon {
    width: 300px;
    height: 334px;
    border-radius: 50%;
  }

.keninoue-text {
    top: 174px;
    left: 55%;
    position: absolute;
  }
