/*
// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*= require_tree .
*= require_self
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// 投稿一覧
 h1.index-title {
    text-align: center;
    height: 0px;
    font-family: 'Lobster', cursive;
 }

.post_search {
    margin-left: 2%;
    margin-top: 80px;
}

.photo-card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: inline-block;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-left: 100px;
  margin-bottom: 70px;
  margin-top: 40px;
  vertical-align: top;
  max-height: 685px;
}

.photo-background {
  background-position: center;
  background-size: cover;
  min-height: 250px;
}

.image-size {
    width: 500px;
    height: 300px;
}
.user-avater-post {
  width: 70px;
  height: 70px;
  border-radius: 50%;

}
.photo-author {
  margin-left: 17%;
  font-size: small;
}

.photo-author p {
  margin-top: 40px;
  margin-bottom: 1rem;
  font-size: large;
}

.photo-details {
  padding: 5px 2% 5% 1%;
  position: relative;
}

.photo-user-icon {
  position: absolute;
  border-radius: 80%;
}

.photo-title {
  margin-left: 17%;
  margin-top: 2%;
}

.photo-text {
  margin-top: 20px;
  height: 75px;
}

.photo-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.375em;
}

.photo-bike {
  width: 43%;
}

.reaction {
  width: 40%;
}
.reaction li {
  float: left;
  list-style: none;
}

.photo-tags {
  width: 450px;
  height: 100px;

  ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 87.5%;
    margin-top: 0.35em;
    text-transform: lowercase;
  }

  li {
    margin: 0 0.35em 0.35em 0;
    float: left;
  }

  a {
    border-radius: 50px;
    display: block;
    padding: 0.3125em 1.25em;
    text-decoration: none;
    transition: color 0.3s ease;
  }
}

// 新規投稿
 h1.post-new-title {
    text-align: center;
    height: 0px;
    font-family: 'Lobster', cursive;
 }

 .field01 {
  padding: 10px 15px; /*ボックスを大きくする*/
  font-size: 16px;
  border: 2px solid #ddd; /*枠線*/
  width: 40%;
  margin-left: -70px;
}

.post-btn {
    padding: 0.5em;
  border-radius: 0.5em;
  margin-left: 0%;
  margin-top: 20px;
  width: 200px;
  font-family: 'Lobster', cursive;
}

// ランキングページ
 h1.post-top {
    text-align: center;
    height: 70px;
    font-family: 'Lobster', cursive;
 }

 //お気に入りページ
 .favorite-top {
    text-align: center;
    height: 70px;
    font-family: 'Lobster', cursive;
 }

 //投稿詳細ページ
 .show-title {
   text-align: center;
   height: 60px;
   font-family: 'Lobster', cursive;
 }
 .show-main {
   width: 100%;
   height: 100%;
   float: left;
 }
 .show-photo {
   width: 45%;
   float: left;
   margin-left: 50px;
 }
 .show-user-photo {
    height: 720px;
    width: 100%;
 }
 .show-area {
   width: 50%;
   float: left;
 }
 .show-user-avater {
    margin-top: 20px;
    text-align: center;
}
.show-title-photo {
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}
.show-bike {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 21px;
}

a {
    text-decoration: none;
    color: gray;
}

.show-user-name {
    margin-left: 17px;
    font-size: 15px;
}
.show-text {
    margin-left: 65px;
    margin-top: 25px;
    max-height: 131px;
    height: 100%;
    margin-bottom: 40px;
    width: 85%;
}

.show-tags {
    margin-left: 15px;
    margin-bottom: 90px;
}
.show-user-day {
    width: 10%;
}
.show-favorite {
    width: 10%;
    margin-left: 20%;
    margin-top: -22px;
}
.show-edit-btn {
    width: 10%;
    margin-left: 55%;
    margin-top: -21px;
    background: gray;
    padding: 2px;
    border-radius: 0.5em;
  a {
    color: white;
  }
}
.show-delete-btn {
    width: 10%;
    margin-top: -25px;
    margin-left: 80%;
    background: gray;
    padding: 2px;
    border-radius: 0.5em;

  a {
    color: gold;
  }
}

.post_comment {
    width: 100%;
    margin-left: -40%;
}

.show-area-card {
    padding: 0.5em 1em;
    background: white;
    border-bottom: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-left: 8%;
    height: 720px;

}

input.comment-push-btn {
    margin-left: 110px;
}

.user-avater-postshow {
   width: 200px;
  height: 150px;
  border-radius: 50%;
}


