/*
// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*= require_tree .
*= require_self
*/
// チャットルーム一覧
.chat-title {
        text-align: center;
        height: 0px;
        font-family: 'Lobster', cursive;
    }

.chat-card {
        display: inline-block;
        flex-direction: column;
        width: 100%;
        max-width: 220px;
        margin-left: 70px;
        margin-bottom: 70px;
        height: 162px;
        margin-top: 40px;
        vertical-align: top;
    }

.index-chat-box {
        padding: 20px 20px 10px 13px;
        border-bottom: solid 6px black;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
    }

.index-chat-user {
      text-align: center;
    }

.index-chat-message {
      text-align: center;
    }

.index-chat-font {
      color: gray;
    }

//チャットルーム
.show-chat-title {
       text-align: center;
       eight: 0px;
       font-family: 'Lobster', cursive;
    }

.right-message {
       height: auto;
       margin-bottom: 90px;
    }

.chat-icon-my {
        margin-left: 2%;
        width: 4%;
    }

.balloon-right {
        width: 45%;
        margin-left: 130px;
        margin-top: -63px;
    }

.left-message {
        height: auto;
        margin-bottom: 90px;
    }

.chat-icon {
        margin-left: 91%;
    }

.balloon-left {
       text-align: right;
       margin-top: -62px;
       width: 43%;
       margin-left: 46%;
    }

//チャットルームレスポンシブ
 @media screen and (max-width: 768px) {
       .chat-icon-my {
        margin-left: 5%;
        width: 10%;
}
}

 @media screen and (max-width: 768px) {
       .balloon-right {
       width: 56%;
       margin-left: 130px;
       margin-bottom: 20px;
       margin-top: -75px;
}
}

 @media screen and (max-width: 768px) {
       .balloon-left {
       text-align: right;
       margin-top: -70px;
       width: 56%;
       margin-left: 30%;
}
}

 @media screen and (max-width: 768px) {
       .chat-icon {
       margin-left: 87%;
}
}

 @media screen and (max-width: 768px) {
       .chat-text-area {
       width: 81%;
       margin-left: -16%;

       textarea#chat_comment_area {
       width: 100%;
}
}
}

 @media screen and (max-width: 768px) {
       input.chat-submit-btn {
       margin-left: 43px;
}
}

 @media screen and (max-width: 425px) {
      .chat-icon-my {
      margin-left: 0%;
      width: 20%;
}
}

 @media screen and (max-width: 425px) {
      .balloon-right {
      width: 76%;
      margin-left: 82px;
      margin-top: -74px;
}
}

@media screen and (max-width: 425px) {
       .balloon-left {
       text-align: right;
       margin-top: -74px;
       width: 73%;
       margin-left: 8%;
}
}

 @media screen and (max-width: 425px) {
       .chat-icon {
       margin-left: 84%;
       margin-top: 110px;
}
}

 @media screen and (max-width: 425px) {
       .message-form {
       margin-left: 8%;
       margin-right: -187px;
}
}

@media screen and (max-width: 425px) {
     .left-message {
     height: auto;
     margin-bottom: 70px;
}
}
